body {
    font-family: Helvetica;
    font-weight: 200;
    background: black;
}

#container {
    width: 360px; 
    margin: 100px auto;
    background: #909590;
    box-shadow: 0 0 0 rgba(0, 0, 0, .1);
    border-radius: 20px;
}
.completed {
    color: gray; 
    text-decoration: line-through;
}
h1 {
    background: #7EE8FA;
    color: #1E1212; 
    margin: 0;
    padding: 10px 20px; 
    text-transform: uppercase; 
    font-size: 34px; 
}
.fa-plus {
    float: right;
}
ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
}

li {
    background:#EDDD63;
    height: 40px;
    line-height: 40px; 
    color: #1E1212;
}
li:nth-child(2n) {
    background: #EDDD63;
}

input {
    background: #D7DDD7; 
    color: #1E1212;
    font-size: 20px; 
    width: 100%; 
    padding: 12px 12px 12px 19px; 
    box-sizing: border-box; 
}